
.productPanel {
    flex: 1;
    background: #d3d1d1;
}

.gridContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    max-width:100%;
    padding: 1rem;
}

.productPanel h2{
    margin-left: 1rem;
}