
.productPanel {
    margin-top: 80px;
    flex: 1;
    background: #f3f3f3;
    width: 80%;
}

.gridContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 2rem;
    max-width:100%;
    padding: 1.5rem;
    justify-content: center;
}

.productPanel h2{
    margin-left: 1rem;
}