
.navbar{
    background-color: orange;
    padding: 10px;
    height: 60px;
    display: flex;
    flex-direction: row;
}

.navbarContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px; /* space between nav options and search bar */
}


.navbarOptions ul li{
    display: inline-block;
    padding: 10px 15px;
}


.searchBar{
    background-color: white;
    height: 60%;
    width: 30rem;
    border-radius: 1px;
    border: solid 1px black;
    display: flex;
    align-items: center;

}

.searchBar input{
    border: none;
    outline: none;
}